<mat-toolbar color="primary">
    <mat-toolbar-row class="navbar">
        <div class="left">
            <button mat-button><a routerLink="">Zeiterfassung</a></button>
            <button mat-button><a routerLink="">Urlaub</a></button>
            <button mat-button><a routerLink="">Übersicht</a></button>

            <span class="example-spacer"></span>
            <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
        </div>
        <div class="right">
            <mat-form-field appearance="fill">
                <mat-label>Profile</mat-label>
                <mat-select>
                    <mat-option>
                        <span>Anil Cokbilir</span>

                    </mat-option>
                    <mat-option>
                        <span>Florian Rehm</span>

                    </mat-option>

                </mat-select>
            </mat-form-field>
        </div>
    </mat-toolbar-row>